.vendor{
    background-image: url(https://image.wedmegood.com/resized/1900X/uploads/city_bg_image/1/delhi_bg.jpeg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 370px;
    margin-top: 0px;
    width: 100%;
}

.pic{

    border-radius: 20px;
}
.pic{
    z-index: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 207px;
    
}
.name{
    z-index: 2;
     width: 100%;
    display: flex;
    position: absolute;
    top: 90px;
    left: 0;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 800;
}

 
.heading{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 140px;
    /* align-items: center; */
    font-weight: bold;
    font-size: 47px;
    text-align: center;
    color: #FFF;
    /* margin-top: 0; */
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px rgba(22,23,31,1)!important;
}
.transform-1{
    filter:brightness(0.5);
    /* overflow: hidden; */
    transition: transform 1s;
} 
.transform-1:hover{
transform: scale(1.1);
}

/* footer css */


.color-black {
    background: #4B4B4D;
}
footer {
    font-family: open sans,Arial,sans-serif;
}

.footer-p {
    color: white;
    margin-top: 23px;
    margin-bottom: 34px;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

.subscribe {
    margin: -5px;
    background: rgb(237, 50, 55);
    color: white;
    border: none;
    padding: 10px;
}

a {
    text-decoration: none!important;
}

#top-home-form button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
h1, h2, h3, h4, h5, a, ul, li, select, option, span, button {
    font-family: 'Montserrat', sans-serif!important;
}